<!DOCTYPE html>
<html>
<style>
.button {
  background-color: Transparent;
  /*background-repeat: no-repeat;*/
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
form {
    display: inline-block; //Or display: inline; 
}
</style>
<body style="background-color:black;">
<h1 style="color:white;">Greg Happ</h1>
<h1 style="color:white; b">Aspiring Data Scientist</h1>
<form method="get" action="/about">
    <button type="submit" class="button">About</button>
</form>
<form method="get" action="/coding_languages">
    <button type="submit" class="button">Coding Languages</button>
</form>
<form method="get" action="/projects">
    <button type="submit" class="button">Personal Coding Projects</button>
</form>
<form method="get" action="/contact">
    <button type="submit" class="button">Contact</button>
</form>
<br>
<h1 style="color:white; b">Welcome to my personal website!</h1>
</body>
</html>
